body {
    height: 100vh;
}


/**
** MEDIA QUERIES
**/
@media screen and (max-width: 600px) {
    .first-space h1 {
        font-size: 30px;
    }
}
@media screen and (max-width: 380px) {
    .first-space h1 {
        font-size: 25px;
    }
}
@media screen and (max-width: 330px) {
    .first-space h1 {
        font-size: 22px;
    }
}