.hero {
    display: flex;
    height: 100vh;
    width: 100%;
}
.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 10.5%;
    padding-top: 50px;
}
.text-container h1 {
    line-height: 1.1;
    font-family: "sf-pro-bold";
    font-size: 60px;
}
.text-container p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.55;
    letter-spacing: 1px;
    width: 70%;
    color: #666665;
}
.text-button {
    width: 225.5px;
}
.text-container .text-button {
    margin-top: 20px;
}
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 50px;
    padding-right: 3%;
    padding-left: 9%;
    transition: .7s ease;
}
.image-container img {
    height: 450px;
}


/**
** MEDIA QUERIES
**/
@media screen and (min-width: 1900px) {
    .text-container h1 {
        font-size: 85px;
    }
    .text-container p {
        font-size: 24px;
    }
    .image-container img {
        height: 650px;
    }
}
@media screen and (max-width: 1350px) {
    .text-container {
        padding-left: 100px;
        width: 70%;
    }
    .image-container {
        padding-right: 100px;
        padding-left: 40px;
    }
}
@media screen and (max-width: 1150px) {
    body {
        height: auto;
    }
    .hero {
        flex-direction: column;
        height: auto;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .text-container {
        order: 2;
        align-items: center;
        width: 100%;
        padding-top: 50px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .text-container h1 {
        text-align: center;
    }
    .text-container p {
        text-align: center;
    }
    .image-container {
        order: 1;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .image-container img {
        height: 300px;
    }
}
@media screen and (max-width: 400px) {
    .image-container {
        padding-top: 30px;
    }
    .text-container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .text-container h1 {
        font-size: 45px;
    }
    .text-container p {
        font-size: 18px;
    }
}